.container-menu {
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    padding: 2px 15px;
    align-items: center;
    &__logo {
        img {
            width: 150px;
        }
    }
}

.right-menu {
    &__logout {
        color: #4b4b4b !important;
        text-transform: uppercase;
        border: 1px solid #4b4b4b;
        border-radius: 26px;
        padding: 8px 10px;
        font-weight: bold;
        background-color: #ffff;
    }
}
