.reset {
    &__form {
        display: flex;
        flex-direction: column;
        border: 3px solid;
        padding: 30px;
    }
    &__logo {
        display: flex;
        justify-content: center;
        img {
            width: 350px;
        }
    }
    &__legend {
        font-size: 1.2em;
        padding: 2px 10px;
        color: #fff;
        border: 2px solid var(--color-dark);
        background: var(--color-green-2);
        width: fit-content;
        position: relative;
        left: 17px;
        top: 16px;
    }
}

.container-security {
    &__login {
        padding: 30px;
    }
}

.form {
    &__button {
        font-family: "Source Sans Pro", Helvetica, Arial, Lucida, sans-serif;
        width: fit-content;
        font-size: 20px;
        padding: 5px 15px;
        color: #fff;
        background: var(--color-dark);
        cursor: pointer;
    }
    &__button:hover {
        color: #333;
        background: var(--color-green-2);
    }
    &__label {
        margin-bottom: 5px;
    }
    &__input {
        margin-bottom: 20px;
    }
    &__label,
    &__input {
        font-size: 21px;
    }
}
